/*-------------------------
START CONFIGURATION
-------------------------*/
html,body{
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/*-------------------------
FOOTER CONFIGURATION
-------------------------*/
.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
.push{
    height: 50px;
}

/*-------------------------
NAVBAR CONFIGURATION
-------------------------*/

#btn-nav{
    float: right;
    margin-right: 25px;
    cursor: pointer;
}

/*-------------------------
TYPED JS EFFECT
-------------------------*/

.block-position {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    text-align: center;
}