{% extends 'base.html' %}

{% block title %} LOGIN {% endblock %}

<!-- Page Conten -->
{% block  content %}
<div class="container mt-5" id="card-login">
    <div class="card p-3">
        <span class="text-center mt-3"> <strong>RESTRICTED ACCESS</strong></span>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="input-group mb-2 mt-4">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="input-group mb-2 mt-4">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" style="float: right;">
            </div>
            <div class="d-grid gap-2 mt-3">
                <input type="submit" value="Enter" class="btn btn-success btn-sm mt-4 mb-3">
            </div>
        </form>
    </div>
</div> <!--  END // Container -->
{% endblock  %}